main {
  text-align: center;
}
img {
  display: block;
  width: 400px;
  height: 500px;
  padding: 1rem;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
