@media screen and (min-width: 1253px) {
  body {
    background-color: whitesmoke;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgb(11, 101, 71);
  }

  #menu {
    display: none;
  }

  .navigation {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 2rem;
    background-color: rgb(11, 101, 71);
  }

  .navigation a {
    display: block;
    font-size: 25px;
  }

  .navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
