@media screen and (min-width: 899px) {
  body {
    background-color: whitesmoke;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: aquamarine;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 2rem;
  }

  .navigation a {
    display: block;
    font-size: 25px;
  }

  .navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  #page-title {
    grid-column: 1/4;
  }
}
